.signin-card{
  background-color:	 #b3b3b3;
  width: 50%;
  height: 400px;
  margin: 0 auto;
  border-radius: 5px;
 margin-top: 10%;
}
.charts-cards{
  background-color:	 #b3b3b3;

height: 100%;
  border-radius: 5px;

}
.display-block123{
  display: none;
}
@media only screen and (max-width: 768px) {

  .signin-card{
    background-color:	 #b3b3b3;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    border-radius: 5px;
   margin-top: 10%;

  }
.display-none123{
  display: none;
}
.display-block123{
  display: block;
}


}